# Environments
.venv/
venv/
.vscode/
__pycache__/

# OS junk
.DS_Store
**/.DS_Store

# Large data (DO NOT VERSION)
data/videos/raw_videos/
data/videos/rectangle_label_videos/**/frames/
**/*.avi
**/*.mp4

# Training artifacts
runs/run_*/fold_*
runs/run_*/*.json
figs/